:root {
    --background-color: #111;
    --color: #eee;
    --dim-color: #ccc;

    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--color);
}

noscript {
    text-align: center;
}

#footer,
a,
a:visited,
a:active {
    color: var(--dim-color);
}

#status-container {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#status-container.loading #status::after {
    content: '…';
}

#status-container:not(.loading) #spinner {
    display: none;
}

#footer {
    margin-top: 1em;
    text-align: center;
    font-size: 0.7em;
}

#show-licenses {
    display: none;
}

label[for='show-licenses'] {
    cursor: pointer;
    text-decoration: underline;
}

#licenses {
    margin-top: 1em;
    font-size: 1.2em;
}

#show-licenses:not(:checked) ~ #licenses {
    display: none;
}

table {
    margin: 0 auto;
}

th,
td {
    text-align: right;
    padding: 0.2em 0.5em;
    white-space: nowrap;
}

.height::after {
    content: ' m';
}

.temperature::after {
    content: ' ℃';
}

.wind-speed::after {
    content: ' m/s';
}

.cloud-cover .value::after {
    content: ' %';
}

.wind-direction .arrow {
    font-size: 1.5em;
    font-weight: bold;
    transform: rotate(var(--wind-direction));
}

.wind-direction .arrow::after {
    content: '↓';
}

.cloud-cover {
    border: 1px solid var(--dim-color);
    border-left: none;
    fill: var(--dim-color);
    stroke: var(--dim-color);
    text-align: center;
}
